<%- include('../blocks/header'); -%>
<main>
<div class="jumbotron">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repudiandae, maxime quas perferendis ad ipsa facere corporis voluptates iusto porro eveniet? Quasi, eaque. Tenetur cumque non corporis error ducimus aliquid!</p>
</div>
</main>
<%- include('../blocks/footer'); -%>