<%- include('../blocks/header'); -%>
<div>
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repudiandae, maxime quas perferendis ad ipsa facere corporis voluptates iusto porro eveniet? Quasi, eaque. Tenetur cumque non corporis error ducimus aliquid!</p>
</div>
<%- include('../blocks/footer'); -%>