<%- include('../blocks/header'); -%>
<main>
<div class="row">
<div class="col-sm-8">    
<div class="jumbotron">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repudiandae, maxime quas perferendis ad ipsa facere corporis voluptates iusto porro eveniet? Quasi, eaque. Tenetur cumque non corporis error ducimus aliquid!</p>
</div>
</div>

<div class="col-sm-4">        
        <div class="well">
            <h3>Sidebar</h3>
        </div>
    </div>
</div>
</main>
<%- include('../blocks/footer'); -%>